.api {
  display: flex;
  /* width: "60%";
  margin-left: "20%"; */
}
.select-api {
  margin-top: 2%;
  width: 29%;
  text-align: center;
  margin-left: 20%;
  margin-right: 2%;
}
.call-api {
  width: 29%;
  text-align: center;
  margin-top: 2%;
}
.ant-select {
  width: 100%;
}
.ant-btn {
  width: 100%;
}
.response {
  text-align: center;
  margin-top: 2%;
}
.new-api {
  margin-top: 2%;
  text-align: center;
}
.enter-api {
  display: flex
}
.enter-wrapper {

}